{{#extends 'base'}}

{{#block "content"}}
<form method="POST">
    <div>
        <label>Weight</label>
        <input type="text" class="form-control" name="weight"/>
    </div>
    <div>
        <label>Height</label>
        <input type="text" class="form-control" name="height"/>
    </div>
    <input type="submit"/>
</form>


{{/block}}

{{/extends}}